@import '../../../sass/custom/colours';

.navbar {
  height: 55px;
  padding: 0 15px;
}

.mr-30 {
  margin-right: 30px;
}

.logo-link {
  color: $yellow;

  &:hover {
    text-decoration: none;
  }

  .logo-text {
    position: relative;
    bottom: 1px;
    vertical-align: middle;
    font-size: 18px;
  }
}

.logo {
  height: 32px;
}

.nav-link {
  color: $yellow;
  display: inline;

  span {
    border-bottom: 1px solid transparent;
  }

  &:hover, &:focus {
    color: $light-yellow;

    span {
      border-bottom-color: $yellow;
    }
  }
}

.profile-dropdown:focus {
  &::after {
    transform: rotate(180deg);
  }
}

.profile-menu {
  top: 47px;
  padding: 0;

  .profile-item {
    cursor: pointer;
    padding: 12px 25px;

    &:focus, &:active {
      background-color: rgb(232, 232, 232);
      color: $dark;
    }
  }
}
